.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
*.gem
.eprj
.sass-cache
.idea
signing
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
.ruby-gemset
.ruby-version
.dat*
.rake_tasks*

# IDE / editor files
.idea/
*.tmproj
*.tmproject
tmtags
*.sublime-workspace
